button {
  width: 172px;
  height: 41px;
  background: $bg-blue;
  border-radius: 20.5px;
  border: solid 1px $bg-blue;
  @include title-size(12px, 16px);
  font-weight: 800;
  color: $bg-blue-m;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
