.choose__checkbox {
  position: relative;
  width: 43px;
  height: 22px;
  display: inline-block;
  margin: 0 16px;

  input[type='checkbox'] {
    display: none;
    &:checked + .checkbox__thumb::before {
      left: 24px;
    }
    &:checked + .checkbox__thumb {
      background: $bg-green;
    }
  }

  .checkbox__thumb {
    position: absolute;
    background: $bg-blue-s;
    border-radius: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &::before {
      content: '';
      position: absolute;
      border-radius: 50%;
      background: $bg-white;
      width: 14px;
      height: 14px;
      margin: 4px 0;
      top: 0;
      left: 4px;
      z-index: 9999;
      transition: all 0.4s ease;
    }
  }
}
