.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container-bg {
  width: 100%;
  background: $bg-blue-l;
  border-radius: 0px 0px 0px 191.5px;
  height: 449px;
  background-image: url('../img/Group.svg');
  background-repeat: no-repeat;
  background-position: top 65px left 50%;
}
