// Color
$bg-white: #ffffff;
$bg-white-d: #f2f2f2;
$bg-white-g: #ecf0fb;
$bg-blue: #293356;
$bg-blue-s: #cfd8ef;
$bg-blue-d: #848ead;
$bg-blue-m: #becdff;
$bg-blue-l: #f1f5fe;
$bg-green: #7aeadf;
$bg-green-l: #10d8c4;
$bg-green-b: #00ffe7;
$bg-pink: #feede8;
$bg-pink-d: #ff8d68;

// mediaqueries max-width
$screen-xs: 400px;
$screen-sm: 500px;
$screen-md: 600px;
